= content_for :head do
  %script(src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey("#{ENV['stripe_publishable_key']}");
  = javascript_include_tag 'stripe/payment.js'

/
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  Stripe.setPublishableKey("#{ENV['stripe_publishable_key']}");
  </script>
  =# javascript_include_tag 'stripe/payment.js'

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      =my_form_for(@user, url: register_path, html: { class: "form-horizontal", id: "payment-form" }) do |f|
        %header
          %h1 Register
        %fieldset
          .form-group
            =f.label(:email, "Email Address", class: "control-label col-sm-2")
            .col-sm-6
              =f.text_field(:email, class: "form-control", value: @user.email? ? @user.email : "" )
          .form-group
            =f.label(:password, "Password", class: "control-label col-sm-2")
            .col-sm-6
              =f.password_field(:password, class: "form-control")
          .form-group
            =f.label(:full_name, "Full Name", class: "control-label col-sm-2")
            .col-sm-6
              =f.text_field(:full_name, class: "form-control")
          -if @invitation
            .form-group
              = hidden_field_tag 'invitation_token', @invitation.token
        %fieldset
          .form-group
            %span.payment-errors
          .form-group
            %label.col-sm-2.control-label(for="card_number") Card Number
            .col-sm-6
              %input.form-control(id="card_number" type="text" maxlength="20" data-stripe="number" placeholder="Card number")
          .form-group
            %label.col-sm-2.control-label(for="cvc") CVC
            .col-sm-6
              %input.form-control(id="cvc" type="text" maxlength="4" data-stripe="cvc" placeholder="CVC")
          /
            .form-group
              %label.col-sm-2.control-label
                %span Expiration (MM/YYYY)
              .col-sm-6
                .form-inline
                  %input.form-control(type="text" maxlength="2" data-stripe="exp-month" placeholder="MM")
                  %input.form-control(type="text" maxlength="4" data-stripe="exp-year" placeholder="YYYY")
          .form-group
            %label.col-sm-2.control-label
              %span Expiration (MM/YYYY)
            .col-sm-6
              .form-inline
                =select_month(Date.today, {add_month_number: true}, class: 'form-control', data: {stripe: "exp-month"})
                =select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 5}, class: 'form-control', data: {stripe: "exp-year"})
        %fieldset
          .form-group
            .col-sm-offset-2.col-sm-6
              %button.btn.btn-default(type="submit") Pay with card

