
.col-md-12
  = form_for @video, :builder => MyFormBuilder do |f|
    =# form_for @video do |f|
    .form_group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form_group
      = f.label :description
      = f.text_field :description, class: 'form-control'
    .form_group
      = f.label :category_id, "Category"
      = f.select :category_id, Category.all.map{|c| [c.title, c.id]}, {include_blank: true}, class: "form-control"
    .form_group
      = f.submit "Add New Video", class: 'btn btn-default'