%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.big_cover_url}")
      .video_info.col-sm-3
        %header
          %h3 #{@video.title.capitalize}
          %span Rating: 4.5/5.0
        %p Pizza boy Philip J. Fry awakens in the 31st century after 1,000 years of cryogenic preservation in this animated series. After he gets a job at an interplanetary delivery service, Fry embarks on ridiculous escapades to make sense of his predicament.
        .actions
          %a.btn.btn-primary(href="") Watch Now
          -# if !current_user.my_queues.map(&:video).include? @video
          -# refactory:: add_method:: is_my_queue_video?(video)
          - if !current_user.is_my_queue_video? @video
            = link_to "+ My Queue", my_queues_path(video: @video), method: "post", class: ["btn", "btn-default"]

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for Review.new, url: video_reviews_path(@video) do |f|  #/ form_for [@video, Review.new] do |f|
        %fieldset
          .form-group
            %label Rate this video
            .row
              .col-sm-3
                = f.select :rating, options_for_video_review, {prompt: 'Select Rating'},{class: 'form-control', include_blank: true}
          .form-group
            %label Write Review
            .row
              .col-sm-8
                = f.text_area :content, rows: 6, class: "form-control"
        %fieldset.form-group.actions.clearfix
          = f.submit class: 'btn'
          = link_to "Cancel", @video #/ =link_tp video_path(@video)
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                -#%p by <a href="#" >#{review.user.full_name}</a>
                %p
                  by
                  = link_to "#{review.user.full_name}", review.user
              .col-sm-8
                %p= review.content
